# Server Config
PORT=5000
NODE_ENV=development
FRONTEND_URL=http://localhost:5173

# SendGrid Email Service
SENDGRID_API_KEY=your_sendgrid_api_key_here
ADMIN_EMAIL=admin@novashop.com

# Firebase Admin SDK Credentials
FIREBASE_PROJECT_ID=your_firebase_project_id
FIREBASE_PRIVATE_KEY="-----BEGIN PRIVATE KEY-----\nyour_key\n-----END PRIVATE KEY-----\n"
FIREBASE_CLIENT_EMAIL=firebase-adminsdk@your_project_id.iam.gserviceaccount.com

# Stripe Secret Key (Optional)
STRIPE_SECRET_KEY=sk_test_your_key_here
